In [39]:
i = 0
while i < 5:
    print(i)
    if i ==5:
        break
    i += 1

0
1
2
3
4

In [50]:
i = 0
while i < 5:
    print(i)
    if i == 5:
        break
    i += 1
print("5 is not less than 5")

0
1
2
3
4
5 is not less than 5

In [14]:
n = 1
sum = 0 
while n <= 30:
    sum = sum + n
    n = n + 1
print(sum)

465

In [51]:
for i in ["I like pineapple","I like blueberry","I like rasberry", "I like apples"]:
    if "apples" in i:
        break
    print(i)

I like pineapple
I like blueberry
I like rasberry

In [123]:
x = 86
if x >= 90:
    print("A")

elif x >= 80:
    print("B")

elif x >= 70:
    print("C")
    
elif x >= 60:
    print("D")

elif x < 60:
    print("F")

B

In [30]:
student_grades = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules':55, 'Arthur': 77}
print('list of names of students:\n')
for names in student_grades:
    print(names)

list of names of students:

Andy
Amy
James
Jules
Arthur

In [31]:
student_grade = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules':55, 'Arthur': 77}
for key in student_grades:
    print(key, student_grade[key])

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [32]:
import numpy as np
grades = np.array ([88, 66, 90, 55, 77])

In [33]:
grades.min()

55

In [34]:
grades.max()

90

In [35]:
grades.mean()

75.2

In [36]:
res = 0
for val in student_grade.values():
    res += val
res = res / len(student_grade)
print(str(res))

75.2

In [44]:
student_grade = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules':55, 'Arthur': 77}
for keys in student_grade:
    if keys == "J":
        break 
print(keys)

Arthur

In [45]:
for i in {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules':55, 'Arthur': 77}:
    if "J" in i:
        break
    print(i)

Andy
Amy

In [46]:
for i in {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules':55, 'Arthur': 77}:
    if "J" in i:
        continue
    print(i)

Andy
Amy
Arthur