In [3]:
student_marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
print(type(student_marks))
print(student_marks)

<class 'dict'>
{'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [4]:
for marks, student in student_marks.items():
    print(f'{marks} {student}')

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [12]:
# program to display student's marks from record
student_name = "Andy"
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print("cannot dind this student's name")

88

In [24]:
def average(*args):
    return sum(args) / len(args)
average(88, 66, 90, 55, 77)

75.2

In [53]:
def square(number):
    """Calculate the square of number."""
    n = 1
    sum = 0
    while n <= 8: 
        return number ** 2
    else: 
        print("greater than")
    
square(36)

1296

In [43]:
def sumfunction(num):
    n = 1
    sum = 0
    while n <=num:
        sum = sum + n
        n = n + 1
    print(sum)
sumfunction(8)

36

In [98]:
total = 0
for i in range(8):
    n = int (input("enter a number:"))
    total += n
print("the total is:",total)

enter a number:1
enter a number:2
enter a number:3
enter a number:4
enter a number:5
enter a number:6
enter a number:7
enter a number:8
the total is: 36

In [115]:
def range_sum(num):
    sum = 0
    for n in range(num):
        sum = sum + n
    print(sum)
    
range_sum(100)

4950

In [107]:
import numpy as np
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [111]:
numbers = np.array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [113]:
numbers.mean()

49.5

In [114]:
numbers.std()

28.86607004772212

In [91]:
def minimum(value1, value2, value3, value4):
    """Return the minumum of the four values"""
    min_value = value1
    if value2 < min_value:
        min_value = value2
    if value3 < min_value:
        min_value = value3
    if value4 < min_value:
        min_value = value4
    return min_value

In [93]:
minimum(18, 3, 24, 26)

3

In [95]:
name = "Emanuel"
candy = "Peanut m&ms"
school = "Texas A&M"
message = (
    f"Hi {name}. "
    f"Your favorite candy is {candy}. "
    f"You go to {school}. "
)
message

'Hi Emanuel. Your favorite candy is Peanut m&ms. You go to Texas A&M. '